@page
@model WeddingSite.Pages.GästlistanModel
@{
    ViewData["Title"] = "Gästlistan";
}
<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Gästlistan (eller vilka som skickat in O.S.A)</h1>
    <hr />
    <table class="table">
        <thead>
            <tr>
                <th>Gäst</th>
                <th>+1</th>
                <th>Egen transport</th>
                <th>Mat-saker</th>
                <th>Meddelande</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var guest in Model.GuestsWithRsvp)
            {
                <tr>
                    <td>
                        @guest.FirstName @guest.LastName (@(guest.Attending.HasValue && guest.Attending.Value ? "Kommer" : "Kommer inte"))
                    </td>
                    <td>
                        @(!string.IsNullOrEmpty(guest.PlusOne) ?
                            $"{guest.PlusOne} ({(guest.PlusOneAttending.HasValue && guest.PlusOneAttending.Value ? "Kommer" : "Kommer inte")}" :
                            string.Empty)
                    </td>
                    <td>
                        @(guest.OwnTransport ? "Ja" : "Nej")
                    </td>
                    <td>@string.Join(",", guest.DietaryOptions)</td>
                    <td>@guest.Message</td>
                </tr>
            }
        </tbody>
    </table>
</div>