@page
@model WeddingSite.Pages.ProfileModel
@{
    ViewData["Title"] = "Min profil / Anmälan";
}
<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Min profil / Anmälan</h1>
    <hr />
    <h3 class="display-6 tenor-sans-regular">Hej @Model.Guest.FirstName!</h3>
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-lg-4 justify-content-center">
                @if (Model.Guest.RSVPData != null)
                {
                    <h4>Din O.S.A Information</h4>
                }
                else
                {
                    <h4>Du har inte skickat in din O.S.A än</h4>
                }
                @if(TempData.ContainsKey("SuccessMessage") != null && !string.IsNullOrEmpty(TempData["SuccessMessage"]?.ToString()))
                {
                    var message = TempData["SuccessMessage"];
                    TempData.Remove("SuccessMessage");

                    <div class="alert alert-success" role="alert">
                      <h4 class="alert-heading">Dina uppgifter är sparade!</h4>
                      <p class="mb-0">@message</p>
                    </div>
                }
                <hr />
                <select class="form-select" required asp-for="Guest.RSVPData.Attending" title="Du måste välja om du kommer eller inte.">
                    <option value="">Jag kommer/kommer inte på bröllopet</option>
                    <option value="true">Jag (@Model.Guest.FirstName) kommer på bröllopet</option>
                    <option value="false">Jag (@Model.Guest.FirstName) kommer inte på bröllopet</option>
                </select>
                @if (!string.IsNullOrWhiteSpace(Model.Guest.PlusOne))
                {
                    <select class="form-select" required asp-for="Guest.RSVPData.PlusOneAttending" title="Du måste välja om din +1 kommer eller inte.">
                        <option value="">@Model.Guest.PlusOne (din +1) kommer/kommer inte på bröllopet</option>
                        <option value="true">@Model.Guest.PlusOne (din +1) kommer på bröllopet</option>
                        <option value="false">@Model.Guest.PlusOne (din +1) kommer inte på bröllopet</option>
                    </select>
                }
                <hr />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" asp-for="Guest.RSVPData.OwnTransport">
                    <label class="form-check-label" asp-for="Guest.RSVPData.OwnTransport">
                        Jag tar mig till Flottsbro i bil / på egen hand
                    </label>
                </div>
                <div class="clearfix"></div>
                <hr />
                <div class="mb-3">
                    <label asp-for="Guest.Email">E-postadress för kommunikation / meddelande från oss</label>
                    <input type="email" autocomplete="off" class="form-control" asp-for="Guest.Email" />
                </div>
                <div class="mb-3">
                    <label asp-for="Guest.RSVPData.Message">Meddelande till brudparet</label>
                    <textarea class="form-control" asp-for="Guest.RSVPData.Message" rows="3"></textarea>
                </div>
                <hr />
                <h5>Allergier / Kost</h5>
                <p><em>Vi kommer att servera vegetarisk och vegansk mat. Vänligen ange om du har några allergier eller ytterligare kostbehov.</em></p>
                <div class="mb-3">
                    <label asp-for="Guest.RSVPData.DietaryRequirements">Allergier / Intolerans / Viktig info</label>
                    <textarea class="form-control" asp-for="Guest.RSVPData.DietaryRequirements" rows="3"></textarea>
                </div>
                <div class="clearfix"></div>
                <p>Jag är / har:</p>
                <div class="text-left">
                    @foreach (var item in Model.AvailableSoloOptions)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@item.value" id="@item.value" name="SelectedSoloOptions" @(Model.SelectedSoloOptions.Contains(item.value) ? "checked" : "")>
                            <label class="form-check-label" for="@item.value">
                                @item.text
                            </label>
                        </div>
                    }
                    <div class="clearfix"></div>
                    @if (!string.IsNullOrWhiteSpace(Model.Guest.PlusOne))
                    {
                        <br />
                        <p>@Model.Guest.PlusOne (din +1) är / har:</p>
                        @foreach (var item in Model.AvailablePlusOptions)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.value" id="@item.value" name="SelectedPlusOptions" @(Model.SelectedPlusOptions.Contains(item.value) ? "checked" : "")>
                                <label class="form-check-label" for="@item.value">
                                    @item.text
                                </label>
                            </div>
                        }
                        <div class="clearfix"></div>
                    }
                </div>
                <hr />
                <p>
                    Vi är asglada att kunna dela den här underbara dagen med er.
                    För att göra vårt bröllop så fint och minnesvärt som möjligt har vi valt att lägga ett särskilt fokus på maten och festligheterna.
                </p>
                <p>
                    Därför ber vi vänligt om ett bidrag på 150 kr per person för att hjälpa oss att täcka en liten del av dessa kostnader.
                </p>
                <p>
                    Det är självklart inget krav, men vi skulle vara väldigt tacksamma om ni vill vara med och bidra till firandet :)
                </p>
                <p>Vi ser fram emot att fira tillsammans med er!</p>
                <p>Nummer för Swish: 0737753074 eller 0708679778</p>
                <p>
                    Konto för banköverföring<br />
                    Bank: SBAB<br />
                    Clearing: 9252<br />
                    Konto: 8900279
                </p>
                <hr />
                <button type="submit" class="btn btn-primary">Spara uppgifter</button>
            </div>
        </div>
    </form>
</div>