@page
@model WeddingSite.Pages.ProfileModel
@{
    ViewData["Title"] = "Min profil / Anmälan";
}
<div class="text-center">
    <h1 class="display-4 tenor-sans-regular">Min profil / Anmälan</h1>
    <hr />
    <h3 class="display-6 tenor-sans-regular">Hej @Model.Guest.FirstName!</h3>
    <form method="post">
        <div class="row justify-content-center">
            <div class="col-lg-4 justify-content-center">
                @if (Model.Guest.RSVPData != null)
                {
                    <h4>Din RSVP Information</h4>
                }
                else
                {
                    <h4>Du har inte skickat in din RSVP än</h4>
                }
                <hr />
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="true" asp-for="Guest.RSVPData.Attending">
                    <label class="form-check-label" asp-for="Guest.RSVPData.Attending">
                        Jag (@Model.Guest.FirstName) kommer på bröllopet
                    </label>
                </div>
                @if (!string.IsNullOrWhiteSpace(Model.Guest.PlusOne))
                {
                    <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="true" asp-for="Guest.RSVPData.PlusOneAttending">
                        <label class="form-check-label" asp-for="Guest.RSVPData.PlusOneAttending">
                            @Model.Guest.PlusOne (din +1) kommer på bröllopet
                        </label>
                    </div>
                }
                <div class="clearfix"></div>
                <hr />
                <div class="mb-3">
                    <label asp-for="Guest.Email">E-postadress för kommunikation / meddelande från oss</label>
                    <input type="email" autocomplete="off" class="form-control" asp-for="Guest.Email" />
                </div>
                <div class="mb-3">
                    <label asp-for="Guest.RSVPData.Message">Meddelande till brudparet</label>
                    <textarea class="form-control" asp-for="Guest.RSVPData.Message" rows="3"></textarea>
                </div>
                <hr />
                <h5>Allergier / Kost</h5>
                <p><em>Vi kommer att servera vegetarisk och vegansk mat. Vänligen ange om du har några allergier eller ytterligare kostbehov.</em></p>
                <div class="mb-3">
                    <label asp-for="Guest.RSVPData.DietaryRequirements">Allergier / Intolerans / Viktig info</label>
                    <textarea class="form-control" asp-for="Guest.RSVPData.DietaryRequirements" rows="3"></textarea>
                </div>
                <div class="clearfix"></div>
                <p>Jag är / har:</p>
                <div class="text-left">
                    @foreach(var item in Model.AvailableSoloOptions)
                    {
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" value="@item.value" id="@item.value" name="SelectedSoloOptions" @(Model.SelectedSoloOptions.Contains(item.value) ? "checked": "")>
                            <label class="form-check-label" for="@item.value">
                                @item.text
                            </label>
                        </div>
                    }
                    <div class="clearfix"></div>
                    @if (!string.IsNullOrWhiteSpace(Model.Guest.PlusOne))
                    {
                        <br />
                        <p>@Model.Guest.PlusOne (din +1) är / har:</p>
                        @foreach (var item in Model.AvailablePlusOptions)
                        {
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" value="@item.value" id="@item.value" name="SelectedPlusOptions" @(Model.SelectedPlusOptions.Contains(item.value) ? "checked" : "")>
                                <label class="form-check-label" for="@item.value">
                                    @item.text
                                </label>
                            </div>
                        }
                        <div class="clearfix"></div>
                    }
                </div>
                <hr />
                <button type="submit" class="btn btn-primary">Skicka RSVP</button>
            </div>
        </div>
    </form>
</div>